<div class="move-history">
  <div class="history-header">
    <h3>Move History</h3>
  </div>
  <div class="history-list">
    <div class="move-row" *ngFor="let move of moves; let i = index; trackBy: trackByMove">
      <span class="move-number">{{ move.moveNumber }}.</span>
      <span
        class="move white-move"
        [class.active]="currentMoveIndex === i * 2"
        (click)="onMoveClick(i * 2)"
      >{{ move.whiteMove }}</span>
      <span
        class="move black-move"
        *ngIf="move.blackMove"
        [class.active]="currentMoveIndex === i * 2 + 1"
        (click)="onMoveClick(i * 2 + 1)"
      >{{ move.blackMove }}</span>
    </div>
    <div class="empty-state" *ngIf="moves.length === 0">
      No moves yet. Start playing!
    </div>
  </div>
</div>
